.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-description{
  font-size: 1.2rem;
  color:#808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  max-width: 20rem;
  max-height: 20rem;
}
.product-rating{
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: rgb(49, 112, 116)
}